*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.recipe-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 10;
}

.recipe-item {
  margin-bottom: 0;
  overflow: hidden;
}

@keyframes open {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes close {
  0% {
    margin-top: 0
  }
  100% {
    margin-top: -100%
  }
}

.recipe-info {
  margin: 0 20px;
  transition: 0.4s;
}

.recipe-info--closed {
  visibility: hidden;
  height: 0;
  transition: 0.4s;
}

.recipe-info--active {
  visibility: visible;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: open 0.5s cubic-bezier(0, 0, 0.51, 1.63);
}

.recipe-controls {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.recipe-btn {
  width: 40%;
}

.ingredients {
  margin: 10px auto;
  margin-top: 0;
  margin-bottom: 0;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid sandybrown;
}

.name {
  display: inline-block;
  vertical-align: bottom;
  font-size: 18px;
  line-height: 2;
  color: sandybrown;
}

.quantity {
  display: inline-block;
  vertical-align: bottom;
  background: sandybrown;
  color: white;
  padding: 5px;
  border-radius: 1.5em;
  font-size: 14px;
  line-height: 26px;
  min-width: 90px;
  text-align: center;
}

.quantity>* {
  display: inline-block;
}

.quantity .amount {
  margin-right: 10px;
}

.ingredient-input {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.ingredient-input:last-of-type {
  margin-bottom: 0;
}

.ingredient-input-name,
.ingredient-input-amount,
.ingredient-input-units {
  border: none;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  border-left: 1px solid orange;
  padding: 3px;
  padding-left: 10px;
}

.ingredient-input-name {
  flex: 1 1 320px;
}

.ingredient-input-amount {
  width: 100px;
}

.ingredient-input-units {
  width: 100px;
  border-right: 1px solid orange;
}

.ingredient-input-remove {
  width: 40px;
  height: 40px;
  background: indianred;
  color: white;
  font-size: 20px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.modal-wrapper {
  position: absolute;
  top: 20px;
  left: 15%;
  right: 15%;
  transition: 0.5s;
  transform: translateY(0);
  opacity: 1;
  background: ghostwhite;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
  padding: 20px;
  z-index: 1000;
}

.modal-wrapper--hidden {
  transform: translateY(-300%);
  opacity: 0;
}

.modal-add-ingredient {
  width: 40px;
  height: 40px;
  background: dodgerblue;
  color: white;
  font-size: 20px;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-url {
  font-size: 0;
  margin-top: 10px;
}

.modal-url-label {
  display: inline-block;
  vertical-align: baseline;
  font-size: 16px;
  padding: 5px;
  padding-left: 15px;
  background: #D5C2AB;
  line-height: 2;
  border: 1px solid #D5C2AB;
  width: 100px;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.modal-url-input {
  display: inline-block;
  vertical-align: baseline;
  font-size: 16px;
  padding: 5px;
  padding-left: 20px;
  border: 1px solid #D5C2AB;
  line-height: 2;
  width: calc(100% - 100px);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.modal-workflow-input {
  min-width: 100%;
  padding: 10px;
  resize: vertical;
  margin-bottom: 10px;
}

.modal-cancel,
.modal-save {
  color: white;
  padding: 10px;
  border-radius: 0.5em;
  float: right;
  border: none;
}

.modal-cancel {
  background: indianred;
}

.modal-save {
  background: seagreen;
  margin-right: 10px;
}

.modal-title {
  margin-left: 10px;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid orange;
}

@media (max-width: 700px) {
  .modal-wrapper {
    left: 2%;
    right: 2%;
  }

  .ingredient-input-remove {
    flex: 0 0 40px;
    vertical-align: middle;
  }
}

@media (max-width: 500px) {
  .ingredient-input {
    flex-wrap: wrap;
  }

  .ingredient-input-remove {
    margin-top: 5px;
  }

  .ingredient-input > *:not(:last-child) {
    flex: 1 0 100%;
    border-right: 1px solid orange;
    border-bottom: none;
  }

   .ingredient-input > *:last-of-type {
    border-bottom: 1px solid orange;
    
   }
}